body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mainContent {
    margin: 40px 20px 0 20px;
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 10px 10px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

.wdata {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 2px;
    border-radius: 5px 5px;
}

.day {
    padding: 10px;
    display: block;
    float: left;
    font-weight: bold;
}

.wdata .date {
    float: left;
    position: relative;
}

.wdata .date,
.wdata .forecast,
.wdata .temperature,
.wdata .pressure,
.wdata .humidity,
.wdata .wind {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.wdata .date {
    font-weight: bold;
}

.wdata .forecast img {
    vertical-align: middle;
    float: left;
}
